@model Backend4.Models.SignUp.SignUpCredentialsViewModel
@{
    ViewBag.Title = "Sign up";
}

<h2>Sign up</h2>

<form class="form-horizontal" asp-action="SignUpCredentials">
    <input type="hidden" asp-for="FirstName" />
    <input type="hidden" asp-for="LastName" />
    <input type="hidden" asp-for="BirthdayDay" />
    <input type="hidden" asp-for="BirthdayMonth" />
    <input type="hidden" asp-for="BirthdayYear" />
    <input type="hidden" asp-for="Gender" />

    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="text" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" class="form-control" asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirm password</label>
        <div class="col-md-10">
            <input type="password" class="form-control" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" asp-for="Remember" />
                    Remember?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Complete sign up</button>
        </div>
    </div>
</form>